
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    
    /* background-image: url("https://source.unsplash.com/1600x900/?film"); */
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size:cover;
    background-blend-mode:luminosity;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Special Elite', cursive;
    
  }

    h1{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(227, 229, 241);
    font-family: 'Special Elite', cursive;
    font-size: 4em;
  }

  a{
      color: rgb(192, 188, 180);
  }
  
  
  .container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #6409419c;
    border-radius: 50px;
    border-color: powderblue;
    border-style: double;
  }
  .label{
    padding: 20px 130px;
    font-size: 3em;
    color: #e2e0f0;
    margin-bottom: auto;
    width: fit-content;
    font-family: 'Special Elite', cursive;
    border-radius: 25%;
  }
  .login_form{
    padding: 20px 60px;
    font-weight: bold;


  }
  .login_form .font{
    font-size: 18px;
    color: #ffffffee;
    margin: 5px 0;
  }
  .login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgb(209, 169, 169);
  }
  .login_form .font2{
    margin-top: 30px;
  }
  .login_form button{
    margin: 45px 0 30px 0;
    height: 40px;
    width: 350px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #19204788;
    border-radius: 3px;
    border: 1px solid #1e223b57;
    transition: .5s ease;
    cursor: pointer;
  }
  .login_form button:hover{
    background: #1c1f3f;
  }
  .login_form #email_error,
  .login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
  }
  
  
  